<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ProjectMapper">

 <select id="findAllProject" parameterType="int" resultType="Project">
  	select * from Project where uid=#{uid}
 </select>
 
 <insert id="insertProject" parameterType="Project">
	insert into Project(uid,project,position,stime,etime,statement) 
	values(#{uid},#{project},#{position},#{etime},#{etime},#{statement})
 </insert>
 
 <delete id="deleteProject" parameterType="int">
	 delete from Project where pid=#{pid}
 </delete>
 
 <update id="updateProject" parameterType="Project">
 	 update Project set 
 	 project=#{project},position=#{position},stime=#{stime},
 	 etime=#{etime},statement=#{statement}
 	 where pid=#{pid} and uid=#{uid}
 </update>
</mapper>